/* stylelint-disable */
@import "~font-awesome/css/font-awesome.css";
/* stylelint-enable */

.fa,
.fas,
.fab {
	font-family: FontAwesome !important;
	font-style: normal;
}

.Window_old-website {
	.meeseOS-window-content {
		overflow-y: scroll;
	}
}

.fixed-top {
	top: 25px !important;
}
